/* Global Styles */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  html {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: #ffffff; /* You can change the background color here */
    position: relative; /* Ensure the background div is positioned properly */
  }

  * {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  *::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
}

/* Background Image with Blur */
.bg-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Ensure the background image covers the full viewport */
  background-image: url('./assets/background.jpg'); /* Correct path to your image */
  background-size: cover;
  background-position: center;
  filter: blur(8px); /* Adjust the blur effect here */
  z-index: -1; /* Keep the background image behind the content */
}

@layer components {
  .bold-text {
    @apply font-bold;
  }
}
